.about-eparchy {

}

.about-eparchy__intro {
  color: #373737;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  @media (--below-small) {
    font-size: 16px;
  }
}

.about-eparchy__sections {
  margin-top: 52px;
  @media (--below-small) {
    margin-top: 30px;
  }
  @media (max-width: 479px) {
    margin-left: -8px;
    margin-right: -8px;
  }
}

.about-eparchy-documents {
  background-color: #64c1e7;
  padding-bottom: 100%;
  position: relative;
  @media (--below-medium) {
    font-size: adaptive(12px, 16px, 768px, 1024px);
  }
  @media (max-width: 479px) {
    font-size: adaptive(11px, 14px, 320px, 479px);
  }
}

.about-eparchy-documents__title {
  text-shadow: 0 0 em(3px, 48px) rgba(0, 0, 0, 0.58);
  color: #ffffff;
  font-family: var(--font-family-alt);
  font-size: em(48px, 16px);
  font-weight: 700;
  line-height: 1;
  letter-spacing: em(1.2px, 48px);
}

.about-eparchy-documents__list {
  font-size: em(18px, 16px);
  line-height: 1;
  padding: 0;
  margin: 0;
  list-style: none;
}

.about-eparchy-documents__list::before {
  content: '';
  width: em(60px, 18px);
  height: 1px;
  background-color: #ffffff;
  display: block;
  margin-bottom: em(20px, 18px);
}

.about-eparchy-documents__list li {
  margin: em(12px, 18px) 0;
}

.about-eparchy-documents__list li a {
  color: #fefefe;
  font-family: var(--font-family-alt);
  text-decoration: none;
}

.about-eparchy-documents__body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: em(50px, 16px) em(30px, 16px);
}

.about-eparchy-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  @media (--below-medium) {
    margin-left: -15px;
    margin-top: -15px;
  }
  @media (max-width: 479px) {
    margin-left: 0;
    margin-top: 0;
  }
}

.about-eparchy-grid__cell {
  width: 50%;
  padding-left: 30px;
  padding-top: 30px;
  @media (--below-medium) {
    padding-left: 15px;
    padding-top: 15px;
  }
  @media (max-width: 479px) {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
  }
}

.about-eparchy-subgrid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  @media (--below-medium) {
    margin-left: -15px;
    margin-top: -15px;
  }
  @media (max-width: 479px) {
    margin-left: 0;
    margin-top: 0;
  }
}

.about-eparchy-subgrid__cell {
  width: 100%;
  padding-left: 30px;
  padding-top: 30px;
  @media (--below-medium) {
    padding-left: 15px;
    padding-top: 15px;
  }
  @media (max-width: 479px) {
    padding-left: 0;
    padding-top: 0;
  }
}

.about-eparchy-history {
  background: url('../images/about-eparchy-history.jpg') no-repeat 50% 50%;
  background-size: cover;
  padding-bottom: calc(50% - 15px);
  position: relative;
  @media (--below-medium) {
    padding-bottom: calc(50% - 7.5px);
    font-size: adaptive(12px, 16px, 768px, 1024px);
  }
  @media (max-width: 479px) {
    padding-bottom: 50%;
    font-size: adaptive(11px, 14px, 320px, 479px);
  }
}

.about-eparchy-history__title {
  color: #ffffff;
  font-family: var(--font-family-alt);
  font-size: em(30px, 16px);
  font-weight: 700;
  letter-spacing: em(1.5px, 30px);
  line-height: 1.2;
}

.about-eparchy-history__title::before {
  content: '';
  width: em(60px, 30px);
  height: 1px;
  background-color: #ffffff;
  display: block;
  margin-bottom: em(24px, 30px);
}

.about-eparchy-history__body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40%;
  @media (max-width: 479px) {
    padding: em(30px, 16px);
  }
}

.about-eparchy-management {
  background-color: #ba375d;
  padding-bottom: calc(50% - 15px);
  position: relative;
  @media (--below-medium) {
    padding-bottom: calc(50% - 7.5px);
    font-size: adaptive(12px, 16px, 768px, 1024px);
  }
  @media (max-width: 479px) {
    padding-bottom: 50%;
    font-size: adaptive(11px, 14px, 320px, 479px);
  }
}

.about-eparchy-management__title {
  color: #ffffff;
  font-family: var(--font-family-alt);
  font-size: em(30px, 16px);
  font-weight: 700;
  letter-spacing: em(1.5px, 30px);
  line-height: 1.2;
}

.about-eparchy-management__title::before {
  content: '';
  width: em(60px, 30px);
  height: 1px;
  background-color: #ffffff;
  display: block;
  margin-bottom: em(24px, 30px);
}

.about-eparchy-management__body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40%;
  @media (max-width: 479px) {
    padding: em(30px, 16px);
  }
}

.about-eparchy__content {
  max-width: 752px;
  margin: 0 auto;
  font-size: 18px;
  padding-top: 114px;
  padding-bottom: 145px;
  @media (--below-small) {
    font-size: 16px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about-eparchy__content p {
  margin: 1.6em 0
}

.about-eparchy__content h2 {
  color: #030303;
  font-family: var(--font-family-alt);
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  padding-bottom: 92px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 106px;
  @media (--below-small) {
    font-size: 24px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}
