.archive-calendar {
  border: 1px solid #dddfe7;
}

.archive-calendar__headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d8dddd;
}

.archive-calendar__headline-prev::after {
  content: 'prev';
}

.archive-calendar__headline-next::after {
  content: 'next';
}

.archive-calendar__headline-prev,
.archive-calendar__headline-next {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000000;
  background: transparent;
  border: none;
  padding: 0;
  width: 25%;
  min-width: 25%;
  line-height: 68px;
  &::after {
    font-family: swiper-icons;
    font-size: 20px;
  }
  &:hover {
    text-decoration: none;
    color: #de775d;
  }
}

.archive-calendar__headline-prev {

}

.archive-calendar__headline-year {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.archive-calendar__headline-next {

}

.archive-calendar__body {
  background: #eff4f4;
  display: flex;
}

.archive-calendar__months {
  width: 25%;
  min-width: 25%;
}

.archive-calendar__months-row {
  display: block;
  width: 100%;
  background: #eff4f4;
  border: none;
  border-right: 1px solid #dddfe7;
  padding: 0 2px;
  text-transform: uppercase;
  color: #404040;
  font-size: 10px;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: -0.05px;
  cursor: pointer;
  &:hover {
    background: #f3e3de;
  }
}

.archive-calendar__days {
  flex-grow: 1;
  overflow: hidden;
}

.archive-calendar__days-row {
  color: #3c3c3c;
  font-size: 12px;
  padding: 0 2px;
  border: none;
  background: #fdfefe;
  line-height: 44px;
  margin-bottom: 1px;
  float: left;
  width: 33.33%;
  min-width: 33.33%;
  cursor: pointer;
  &:hover {
    background: #f3e3de;
  }
}
