*,
*::before,
*::after {
  box-sizing: border-box;
}

html[lang] {
  margin-top: 0 !important;
}

#wpadminbar {
  display: none !important;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: 1.5;
  background-color: #ebf4f4;
}

h1 {
  color: #999;
  font-family: var(--font-family-alt);
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 2px;
  margin: 0 0 40px;
}

@media (--below-m) {
  h1 {
    font-size: 48px;
    letter-spacing: 0;
  }
}

img {
  max-width: 100%;
}

.help-hr {
  display: block;
  height: 10px;
  background: red;
  clear: both;
}

.wrapper {
  overflow: hidden;
}

.ui-hr {
  height: 37px;
  position: relative;
  width: 100%;
  background: url('../images/hr-left.png') no-repeat 0 50%, url('../images/hr-right.png') no-repeat 100% 50%, url('../images/hr-center.png') no-repeat 50% 50%;
  border: none;
  margin: 0;
}

.ui-hr::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, transparent 0, transparent 19px, #dadada 19px, #dadada calc(50% - 73px), transparent calc(50% - 73px), transparent calc(50% + 73px), #dadada calc(50% + 73px), #dadada calc(100% - 19px), transparent calc(100% - 19px));
}

.ui-hr_small {
  height: 5px;
  background: url('../images/hr-left.png') no-repeat 0 50%, url('../images/hr-right.png') no-repeat 100% 50%;
  margin-top: -2px;
  margin-bottom: -2px;
}

.ui-hr_small::after {
  top: 2px;
  background: linear-gradient(to right, transparent 0, transparent 19px, #dadada 19px, #dadada calc(100% - 19px), transparent calc(100% - 19px));
}

.ui-text-small {
  color: #7f7f7f;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.12px;
}

.ui-text-small em {
  font-weight: 700;
}

.ui-icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.container {
  margin: 0 auto;
  padding: 0 12px;
  max-width: 1169px;
  @media (--below-m) {
    padding: 0 8px;
  }
}

.page-sheet {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(76, 83, 114, 0.13);
  max-width: 1400px;
  margin: 0 auto;
}

.page-sheet::before {
  content: '';
  display: table;
}

.page-sheet::after {
  content: '';
  display: table;
}

.scrollup {
  display: none;
}

.more-button {
  color: #f4987f;
  font-family: var(--font-family-alt);
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  display: inline-block;
}

.more-button:hover {
  color: #f03325
}

.more-button span {
  width: 48px;
  height: 48px;
  background-color: currentColor;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  position: relative;
  top: -0.2em;
}

.more-button span::before {
  content: '';
  width: 1px;
  height: 50%;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.more-button span::after {
  content: '';
  width: 50%;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ui-all-button {
  color: #de8366;
  font-family: var(--font-family-alt);
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.89px;
  padding: 7px 0;
  position: relative;
  font-style: italic;
  text-decoration: none;
}

.ui-all-button::after {
  content: '';
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: currentColor;
  transition: width .3s ease;
}

.ui-all-button:hover {
  color: #f03325;
}

.ui-all-button:hover::after {
  width: 100%;
}

.section-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 0;
  @media (--below-l) {
    padding: 7px 0
  }
  @media (--below-m) {
    padding: 11px 0
  }
}

.section-headline__title {
  color: #4a3726;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.07px;
  position: relative;
  z-index: 1;
  padding-left: 15px;
  @media (--below-l) {
    font-size: 12px;
    padding-left: 12px;
  }
  @media (--below-m) {
    font-size: 14px;
    padding-left: 18px;
  }
}

.section-headline__title::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 60px;
  height: 60px;
  background-color: transparent;
  left: 0;
  top: -18px;
  @media (--below-l) {
    width: 40px;
    height: 40px;
    top: -8px;
  }
  @media (--below-m) {
    width: 48px;
    height: 48px;
    top: -12px;
  }
}

.section-headline_gray .section-headline__title::before {
  background-color: #c7d3d2;
}

.section-headline_green .section-headline__title::before {
  background-color: #deeddc;
}

.section-headline_blue .section-headline__title::before {
  background-color: #dbebfc;
}

.section-headline_yellow .section-headline__title::before {
  background-color: #f9f1e2;
}

.section-headline__link {
  color: #de8366;
  font-family: var(--font-family-alt);
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.89px;
  display: inline-block;
  padding: 7px 0;
  position: relative;
  font-style: italic;
  text-decoration: none;
}

.section-headline__link::after {
  content: '';
  position: absolute;
  width: 80%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: currentColor;
  transition: width .3s ease;
}

.section-headline__link:hover {
  color: #f03325;
}

.section-headline__link:hover::after {
  width: 100%;
}

.pagination {
  line-height: 1;
  padding: 16px 0;
}

@media (--below-l) {
  .pagination {
    padding: 10px 0
  }
}

.pagination .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .page-numbers {
  color: #727272;
  font-size: 12px;
  text-decoration: none;
  margin: 0 12px;
}

.pagination .page-numbers:hover {
  color: #000000;
  text-decoration: underline;
}

.pagination .page-numbers.current {
  color: #de775d;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}

.pagination .page-numbers.dots:hover {
  color: #727272;
  text-decoration: none;
}

.pagination .page-numbers.prev::after {
  content: 'prev';
}

.pagination .page-numbers.next::after {
  content: 'next';
}

.pagination .page-numbers.prev,
.pagination .page-numbers.next {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28px;
  height: 28px;
  color: #000000;
}

.pagination .page-numbers.prev::after,
.pagination .page-numbers.next::after {
  font-family: swiper-icons;
  font-size: 20px;
}

.pagination .page-numbers.prev:hover,
.pagination .page-numbers.next:hover {
  text-decoration: none;
  color: #de775d;
}

.off-canvas-bar {
  background-color: #e6ecec;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 250px;
  z-index: 300;
  transform: translateX(-250px);
  transition: all .5s ease;
}

.off-canvas-opened .off-canvas-bar {
  transform: translateX(0);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.off-canvas-bar__body {
  overflow: auto;
  height: 100%;
}

.off-canvas-page {
  transform: translateX(0);
  transition: all .5s ease;
}

.off-canvas-opened .off-canvas-page {
  transform: translateX(250px);
}

.off-canvas-page__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 300;
  display: none;
}

.off-canvas-opened .off-canvas-page__overlay {
  display: block;
}

.off-canvas-bar__close {
  position: absolute;
  width: 68px;
  height: 68px;
  background: #915d49;
  border: none;
  padding: 0;
  display: block;
  left: 100%;
  top: 0;
  transition: all .5s ease;
  opacity: 0;
  visibility: hidden;
}

.off-canvas-opened .off-canvas-bar__close {
  opacity: 1;
  visibility: visible;
}

.off-canvas-bar__close::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #e0e0e0;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.off-canvas-bar__close::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: #e0e0e0;
  left: 50%;
  top: 50%;
  transform-origin: 50% 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.breadcrumbs {
  font-size: 12px;
  color: #959595;
  text-align: center;
}

.breadcrumbs > span {
  line-height: 15px;
  letter-spacing: 0.06px;
  background-color: #666666;
  padding: 0 2px;
  margin: 0 8px;
}

.breadcrumbs > span a {
  color: #c7c7c7;
  text-decoration: none;
}

.breadcrumbs_darken > span {
  background-color: #000000;
}

.page-headline {
  margin-top: 18px;
  margin-bottom: 42px;
  @media (--below-m) {
    margin-top: 12px;
    margin-bottom: 20px;
  }
}

.page-headline__title {
  color: #000000;
  font-family: var(--font-family-alt);
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.32px;
  text-align: center;
  margin: 48px 0 43px;
  overflow-wrap: anywhere;
  @media (--below-l) {
    font-size: 48px;
  }
  @media (--below-m) {
    font-size: 36px;
    margin-top: 26px;
    margin-bottom: 25px;
  }
}

.page-headline__title_small {
  font-size: 48px;
  @media (--below-l) {
    font-size: 36px;
  }
  @media (--below-m) {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.page-headline .ui-hr {
  max-width: 560px;
  margin: 0 auto;
}

.wp-pagenavi {
  color: #727272;
  font-size: 12px;
  line-height: 1;
  font-size: 12px;
  text-align: center;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.wp-pagenavi::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: url('../images/hr-small.png') no-repeat 50% 50%;
  background-size: 100% 100%;
  width: 559px;
  height: 5px;
  max-width: 100%;
}

.wp-pagenavi .first,
.wp-pagenavi .last,
.wp-pagenavi .pages {
  display: none;
}

.wp-pagenavi .nextpostslink {
  color: #999999;
  text-decoration: none;
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0 12px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wp-pagenavi .nextpostslink:hover {
  color: #000000;
}

.wp-pagenavi .nextpostslink::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  transform: rotate(45deg);
}

.wp-pagenavi .previouspostslink {
  color: #999999;
  text-decoration: none;
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0 12px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wp-pagenavi .previouspostslink:hover {
  color: #000000;
}

.wp-pagenavi .previouspostslink::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  transform: rotate(45deg);
}

.wp-pagenavi .current {
  color: #de775d;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  border: none;
  padding: 0;
  margin: 0 12px;
}

.wp-pagenavi .extend {
  color: #999999;
  border: none;
  padding: 0;
  margin: 0 12px;
}

.wp-pagenavi .page {
  color: #999999;
  text-decoration: none;
  border: none;
  padding: 0;
  margin: 0 12px;
}

.wp-pagenavi .page:hover {
  color: #000000;
  text-decoration: underline;
}

.content {
  font-size: 18px;
  line-height: 1.6;
  @media (--below-l) {
    font-size: 16px;
  }
  @media (--below-m) {
    font-size: 14px;
    line-height: 1.75;
  }
}

.content p {
  margin: 0;
}

.content h2 {
  margin: 0;
  color: #030303;
  font-family: var(--font-family-alt);
  font-size: em(48px, 18px);
  font-weight: 400;
  line-height: 1.25;
  /* @media (--below-m) {
    font-size: 36px;
  } */
}

.content h3 {
  margin: 0;
  color: #030303;
  font-family: var(--font-family-alt);
  font-size: em(36px, 18px);
  font-weight: 400;
  line-height: 1.333;
  /* @media (--below-m) {
    font-size: 24px;
  } */
}

.content h4 {
  margin: 0;
  color: #373737;
  font-size: em(24px, 18px);
  font-weight: 700;
  line-height: 1.5;
  /* @media (--below-m) {
    font-size: 20px;
  } */
}

.content .wp-block-separator {
  height: 37px;
  position: relative;
  width: 100%;
  background: url('../images/hr-left.png') no-repeat 0 50%, url('../images/hr-right.png') no-repeat 100% 50%, url('../images/hr-center.png') no-repeat 50% 50%;
  border: none;
  margin: 0;
}

.content .wp-block-separator::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 0;
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, transparent 0, transparent 19px, #dadada 19px, #dadada calc(50% - 73px), transparent calc(50% - 73px), transparent calc(50% + 73px), #dadada calc(50% + 73px), #dadada calc(100% - 19px), transparent calc(100% - 19px));
}

.content .wp-block-separator.is-style-default {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.content .wp-block-separator.is-style-wide {
  height: 5px;
  background: url('../images/hr-left.png') no-repeat 0 50%, url('../images/hr-right.png') no-repeat 100% 50%;
}

.content .wp-block-separator.is-style-wide::after {
  top: 2px;
  background: linear-gradient(to right, transparent 0, transparent 19px, #dadada 19px, #dadada calc(100% - 19px), transparent calc(100% - 19px));
}

.content .wp-block-image {
  margin: 0;
}

.content .wp-block-image figure {
  margin: 0;
  display: block;
}

.content .wp-block-image figure img {
  height: auto;
  display: block;
}

.content * + .wp-block-slider-gallery {
  margin-top: em(30px, 18px);
}

.content * + p {
  margin-top: em(30px, 18px);
}

.content * + h2 {
  margin-top: em(120px, 18px);
}

.content * + h3 {
  margin-top: em(90px, 18px);
}

.content * + h4 {
  margin-top: em(60px, 18px);
}

.content * + .wp-block-image {
  margin-top: em(60px, 18px);
}

.content * + .wp-block-gallery {
  margin-top: em(60px, 18px);
}

.content * + .wp-block-separator {
  margin-top: em(40px, 18px);
}

.content h2 + .wp-block-separator {
  margin-top: em(90px, 18px);
}

.content h2 + .wp-block-separator + p {
  margin-top: em(90px, 18px);
}

.content h3 + .wp-block-separator {
  margin-top: em(70px, 18px);
}

.content h3 + .wp-block-separator + p {
  margin-top: em(70px, 18px);
}

.content h4 + .wp-block-separator {
  margin-top: em(50px, 18px);
}

.content h4 + .wp-block-separator + p {
  margin-top: em(50px, 18px);
}

.portray-section {
  position: relative;
}

.portray-section::before {
  content: '';
  display: table;
}

.portray-section__bg {
  display: block;
  background: url('../images/bg-pattern-gray.jpg');
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 576px;
  z-index: -1;
}

.portray-section__bg[style] {
  background-position: 50% 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.portray-section-headline {
  margin-top: 18px;
  margin-bottom: 62px;
  @media (--below-m) {
    margin-top: 12px;
    margin-bottom: 30px;
  }
}

.portray-section-headline__title {
  color: #fefefe;
  font-family: var(--font-family-alt);
  font-size: 64px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.32px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 38px;
  overflow-wrap: anywhere;
  @media (--below-l) {
    font-size: 48px;
  }
  @media (--below-m) {
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.portray-section-headline__title_small {
  font-size: 48px;
  @media (--below-l) {
    font-size: 36px;
  }
  @media (--below-m) {
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.portray-section-headline__meta {
  display: flex;
  align-items: center;
  justify-content: center;
  @media (--below-m) {
    flex-direction: column;
  }
}

.portray-section-headline__meta > * {
  margin: 0 24px;
  @media (--below-m) {
    margin: 12px 0 0;
  }
}

.portray-section-headline__meta > *:first-child {
  @media (--below-m) {
    margin: 0;
  }
}

.portray-section-headline__meta-date {
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
}

.portray-section-headline__meta-tags {
  font-size: 12px;
}

.portray-section-headline__meta-tags a {
  line-height: 24px;
  padding: 0 8px;
  display: inline-block;
  text-transform: uppercase;
  color: #45494d;
  background: #f1e3de;
  text-decoration: none;
}

.portray-section-headline__meta-tags a:hover {
  background: #a46b55;
  color: #f1e3de;
}

.slider-gallery {
  position: relative;
  display: flex;
  flex-direction: column;
}

.slider-gallery.is-lightbox {
  background: #000000;
  position: fixed;
  padding-bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 3000;
  left: 0;
  top: 0;
}

.slider-gallery.is-lightbox .slider-gallery-main {
  padding: 0;
  flex-grow: 1;
}

.slider-gallery.is-lightbox .slider-gallery__close {
  display: block;
}

.slider-gallery__close {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: transparent;
  padding: 0;
  z-index: 20;
  border: 0;
  color: #ffffff;
  filter: drop-shadow(0 0.1em 0.25em rgba(0, 0, 0, 0.4));
}

.slider-gallery__close::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 2px;
  width: 60%;
  background: currentColor;
}

.slider-gallery__close::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  height: 2px;
  width: 60%;
  background: currentColor;
}

.slider-gallery-main {
  width: 100%;
  padding-top: 66.66%;
  position: relative;
}

.slider-gallery-main .swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-gallery-main .swiper-slide {
  position: relative;
  cursor: pointer;
}

.slider-gallery-main .swiper-slide img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.slider-gallery-thumbs {
  padding-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
  padding-bottom: 15px;
}

.slider-gallery-thumbs__hr {
  position: absolute;
  bottom: 0;
  left: -60px;
  right: -60px;
}

.slider-gallery-thumbs__prev,
.slider-gallery-thumbs__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  background-color: #dadada;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
}

.slider-gallery-thumbs__prev:hover,
.slider-gallery-thumbs__next:hover {
  background-color: #f4987f;
}

.slider-gallery-thumbs__prev {
  left: -60px;
}

.slider-gallery-thumbs__prev::before {
  content: '';
  width: 8px;
  height: 8px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(45deg);
  margin-left: 2px;
}

.slider-gallery-thumbs__next {
  right: -60px;
}

.slider-gallery-thumbs__next::before {
  content: '';
  width: 8px;
  height: 8px;
  border-right: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
  transform: rotate(45deg);
  margin-left: -2px;
}

.slider-gallery-thumbs .swiper-slide {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.slider-gallery-thumbs .swiper-slide:hover {
  border-color: #e4b213;
}

.slider-gallery-thumbs .swiper-slide.swiper-slide-active,
.slider-gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  border-color: #f4987f;
}

.slider-gallery-thumbs .swiper-slide img {
  display: block;
}
