.deans-banners {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  @media (--below-l) {
    font-size: 80%;
  }
  @media (--below-m) {
    font-size: 100%;
    margin: 0 -8px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.deans-banners-swiper {
  position: relative;
  @media (--below-m) {
    width: 50%;
  }
}

.deans-banners-swiper-item {
  position: relative;
  display: block;
  text-decoration: none;
}

.deans-banners-swiper-item__image {
  display: block;
}

.deans-banners-swiper-item__image img {
  display: block;
  width: 100%;
  height: auto;
}

.deans-banners-swiper-item__title {
  color: #ffffff;
  font-family: var(--font-family-alt);
  font-size: em(14px, 16px);
  font-weight: 700;
  line-height: 1.33;
  position: absolute;
  display: block;
  left: em(13px, 14px);
  top: em(27px, 14px);
}

.deans-banners-swiper-item__title::before {
  content: '';
  width: em(60px, 14px);
  height: 1px;
  background-color: #ffffff;
  display: block;
  margin-bottom: em(20px, 14px);
}

.deans-banners-swiper__nav {
  position: absolute;
  bottom: -20px;
  right: 4px;
  display: flex;
  @media (--below-l) {
    right: -4px;
  }
  @media (--below-m) {
    right: 8px;
    bottom: 8px;
  }
}

.deans-banners-swiper__nav .swiper-button-prev,
.deans-banners-swiper__nav .swiper-button-next {
  position: relative;
  right: initial;
  left: initial;
  top: initial;
  bottom: initial;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  color: #ffffff;
  margin: 0;
  background-color: #dadada;
  border-radius: 50%;
  margin: 0 4px;
  &::after {
    font-size: 16px;
  }
  &:hover {
    background-color: #f4987f;
  }
}

.deans-banners-swiper__nav .swiper-button-prev.swiper-button-disabled,
.deans-banners-swiper__nav .swiper-button-next.swiper-button-disabled {
  opacity: 1;
  pointer-events: auto;
  &:hover {
    background-color: #dadada;
  }
}

.deans-banners-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @media (--below-m) {
    width: 50%;
  }
}

.deans-banners-union {
  background: #89a066;
  flex-grow: 1;
  margin-top: 40px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-family: var(--font-family-alt);
  font-size: em(16px, 16px);
  line-height: 1.15;
  &::before {
    content: '';
    width: em(60px, 16px);
    height: em(57px, 16px);
    display: inline-block;
    background: url('../images/banner-union.png') no-repeat 50% 50%;
    background-size: cover;
    margin-bottom: em(18px, 16px);
  }
  @media (--below-l) {
    margin-top: 25px;
  }
  @media (--below-m) {
    margin-top: 0;
  }
}

.deans-banners-ways {
  margin-top: 20px;
  flex-grow: 4;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: var(--font-family-alt);
  font-size: em(16px, 16px);
  line-height: 1.15;
  text-align: center;
  background: #9c9ca4 url('../images/banner-ways.png') no-repeat 50% 50%;
  background-size: cover;
  @media (--below-l) {
    margin-top: 15px;
  }
  @media (--below-m) {
    margin-top: 0;
  }
}
