.deans-banners {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.deans-banners-swiper {
  position: relative;
}

.deans-banners-swiper-item {
  position: relative;
  display: block;
  text-decoration: none;
}

.deans-banners-swiper-item__image {
  display: block;
  width: 100%;
  height: auto;
}

.deans-banners-swiper-item__title {
  color: #ffffff;
  font-family: $font-family-alt;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.33;
  position: absolute;
  display: block;
  left: 13px;
  top: 27px;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: #ffffff;
    display: block;
    margin-bottom: 20px;
  }
  @include below(medium) {
    font-size: 11px;
    left: 9px;
    top: 18px;
    &::before {
      margin-bottom: 16px;
    }
  }
}

.deans-banners-swiper__nav {
  position: absolute;
  bottom: -20px;
  right: 4px;
  display: flex;
  @include below(medium) {
    right: -4px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    right: initial;
    left: initial;
    top: initial;
    bottom: initial;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    color: #ffffff;
    margin: 0;
    background-color: #dadada;
    border-radius: 50%;
    margin: 0 4px;
    &::after {
      font-size: 16px;
    }
    &:hover {
      background-color: #f4987f;
    }
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    opacity: 1;
    pointer-events: auto;
    &:hover {
      background-color: #dadada;
    }
  }
}

.deans-banners-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.deans-banners-union {
  background: #89a066;
  flex-grow: 1;
  margin-top: 40px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  font-family: $font-family-alt;
  font-size: 16px;
  line-height: 1.15;
  &::before {
    content: '';
    width: 60px;
    height: 57px;
    display: inline-block;
    background: url('../images/banner-union.png') no-repeat 50% 50%;
    background-size: cover;
    margin-bottom: 18px;
  }
  @include below(medium) {
    font-size: 11px;
    margin-top: 25px;
    &::before {
      width: 39px;
      height: 37px;
      margin-bottom: 12px;
    }
  }
}

.deans-banners-ways {
  margin-top: 20px;
  flex-grow: 4;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: $font-family-alt;
  font-size: 16px;
  line-height: 1.15;
  text-align: center;
  background: #9c9ca4 url('../images/banner-ways.png') no-repeat 50% 50%;
  background-size: cover;
  @include below(medium) {
    margin-top: 15px;
    font-size: 11px;
  }
}
