.footer {
  background-color: #f8f8f8;
  padding-top: 65px;
  padding-bottom: 56px;
}

.footer__container {
  display: grid;
  grid-gap: 30px;
  grid-row-gap: 60px;
}

.footer__sitename {
  font-weight: bold;
  font-style: italic;
  color: #010101;
  font-family: $font-family-alt;
  line-height: 1.5;
  font-size: 16px;

  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.footer-address {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.footer-address__title {
  font-weight: bold;
  color: #000000;
  font-family: $font-family-alt;
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: 0.01em;
}

.footer-address__content {
  font-size: 14px;
  color: #333333;
  line-height: 1.333;
  letter-spacing: 0.01em;
  margin: 20px 0;
}

.footer-contacts {
  margin: 28px 0;
  line-height: 1;
}

.footer-contacts__row {
  display: flex;
  align-items: center;
  margin: 22px 0;
}

.footer-contacts__value {
  color: #000000;
  letter-spacing: 0.01em;
  font-size: 14px;
  font-weight: bold;
  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #d1d1d1;
    &:hover {
      color: #3e9ad3;
      border-bottom-color: #3e9ad3;
    }
  }
}

.footer-contacts__label {
  color: #666666;
  letter-spacing: 0.01em;
  font-size: 14px;
  margin-left: 12px;
}

.footer-share {
  grid-column: 5 / 10;
  grid-row: 1 / 2;
}

.footer-share__title {
  letter-spacing: 0.01em;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}

.footer-share__buttons {
  margin-top: 15px;
  .ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
    margin: 0 6px 0 0;
  }
  .ya-share2__badge {
    border-radius: 0;
  }
  .ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
    height: 46px;
    width: 46px;
    background-size: 46px 46px;
  }
  .ya-share2__list.ya-share2__list_direction_horizontal {
    margin-top: 0;
  }
}

.footer-vk {
  grid-column: 10 / 13;
  grid-row: 1 / 2;
}

.footer-vk__title {
  letter-spacing: 0.005em;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
}

.footer-vk__link {
  margin-top: 15px;
  display: inline-block;
  img {
    display: block;
  }
}

.footer__first-menu {
  grid-column: 5 / 8;
  grid-row: 2 / 3;
}

.footer__seconf-menu {
  grid-column: 8 / 11;
  grid-row: 2 / 3;
}

.footer__third-menu {
  grid-column: 11 / 13;
  grid-row: 2 / 3;
}

.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  letter-spacing: -0.005em;
  line-height: 1.2;
}

.footer-menu li {
  margin: 20px 0;
  padding-left: 20px;
  position: relative;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.footer-menu li:before {
  content: '/';
  position: absolute;
  left: 0;
  top: 0;
}

.footer-menu li a {
  color: #333333;
  text-decoration: underline;
  &:hover {
    color: #3e9ad3;
  }
}

.footer-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  letter-spacing: -0.005em;
  line-height: 1.2;

  grid-column: 5 / 11;
  grid-row: 3 / 4;
}

.footer-links li {
  width: 50%;
}

.footer-links li a {
  color: #333333;
  text-decoration: underline;
  &:hover {
    color: #3e9ad3;
  }
}

.footline {
  background-color: rgba(80, 81, 84, 0.92);
  position: relative;
  &::before {
    background-color: rgba(80, 81, 84, 0.92);
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: 100vw;
  }
  &::after {
    background-color: rgba(80, 81, 84, 0.92);
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    height: 100%;
    width: 100vw;
  }
}

.footline__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  min-height: 60px;
}

.footline__copyright {
  color: #ffffff;
  font-size: 12px;
  line-height: 1.25;
}

.footline__counters {

}

.footline__sitemap {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  border-radius: 13px;
  line-height: 24px;
  padding: 0 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  &:hover {
    background-color: #bcbcbc;
    border-color: #bcbcbc;
    color: #000000;
  }
}

.footline__creator {
  display: inline-block;
  opacity: 0.8;
  img {
    display: block;
  }
  &:hover {
    opacity: 1;
  }
}

.scrollup {
  display: none;
}
