/* .header-sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
} */

/* .header-placeholder {
  height: 148px;
  @media (--below-medium) {
    height: 133px;
  }
  @media (--below-small) {
    height: 68px;
  }
} */

.header {
  background: url("../images/bg-pattern-white.jpg") repeat 50% 50%;
  padding-top: 16px;
  padding-bottom: 16px;
  position: sticky;
  top: 0;
  z-index: 200;
  @media (--below-medium) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.haader__toggle {
  transition: all .3s ease;
  width: 48px;
  height: 48px;
  min-width: 48px;
  min-height: 48px;
  background-color: #a46b55;
  display: block;
  border: none;
  margin-right: 10px;
  position: relative;
  /* @media (--above-small) {
    display: none;
  } */
}

.haader__toggle span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 3px;
  width: 20px;
  background-color: #e5e5e5;
  transition: all .3s ease;
}

.haader__toggle span:nth-child(1) {
  margin-top: -7px;
}

.haader__toggle span:nth-child(2) {
  
}

.haader__toggle span:nth-child(3) {
  margin-top: 7px;
}

.haader__toggle:hover {
  background-color: #7e4c39;
}

.haader__toggle:focus span:nth-child(1),
.haader__toggle:hover span:nth-child(1) {
  width: 25px;
}

.haader__toggle:focus span:nth-child(2),
.haader__toggle:hover span:nth-child(2) {
  width: 11px;
}

.haader__toggle:focus span:nth-child(3),
.haader__toggle:hover span:nth-child(3) {
  width: 25px;
}

.haader-logo {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  line-height: 1;
  @media (--below-small) {
    margin-right: auto;
  }
}

.haader-logo__image {
  float: left;
  margin: 9px 10px 9px 8px;
  @media (--below-medium) {
    display: none;
  }
}

.haader-logo__first {
  color: #b6b6b6;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .432em;
  @media (--below-small) {
    font-size: 7px;
  }
}

.haader-logo__second {
  color: #543921;
  text-transform: uppercase;
  font-family: var(--font-family-alt);
  display: block;
  font-weight: bold;
  overflow: hidden;
  letter-spacing: 0.066em;
  margin-top: 6px;
  font-size: 16px;
  @media (--below-medium) {
    margin-top: 2px;
  }
  @media (--below-small) {
    font-size: 11px;
  }
}

.haader-logo__third {
  color: #aeaeae;
  display: block;
  font-size: 11px;
  color: #aeaeae;
  overflow: hidden;
  letter-spacing: 0.03em;
  margin-top: 3px;
  @media (--below-medium) {
    margin-top: 2px;
  }
  @media (--below-small) {
    font-size: 8px;
  }
}

.header__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  @media (--below-small) {
    display: none;
  }
}

.header__menu li {
  padding: 0 8px;
  position: relative;
  @media (--below-medium) {
    padding: 0 4px;
  }
}

.header__menu li::after {
  content: '';
  height: 14px;
  position: absolute;
  top: 50%;
  right: -1px;
  transform: translateY(-50%);
  border-left: 1px solid #e8eded;
  border-right: 1px solid #e5e8e8;
}

.header__menu li:first-child {
  padding-left: 0;
}

.header__menu li:last-child {
  padding-right: 0;
}

.header__menu li:last-child::after {
  display: none;
}

.header__menu li a {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.005em;
  color: #5c5c5c;
  text-decoration: none;
  display: inline-block;
  padding: 0 7px;
  @media (--below-medium) {
    font-size: 12px;
    padding: 0 4px;
  }
}

.header__menu li a:hover {
  color: #ffffff;
  text-decoration: none;
  background: #c1846d;
}

.searchform {
  display: block;
  position: relative;
}

.searchform__input {
  padding: 0 10px;
  min-height: 40px;
  font-size: 12px;
  font-style: italic;
  color: #ababab;
  border: 1px solid #e1e1e1;
  background: #ffffff;
  border-radius: 4px;
  @media (--below-large) {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    color: transparent;
    transition: width .2s ease;
    &::placeholder {
      color: transparent;
    }
  }
  @media (--below-small) {
    display: none;
  }
}

.searchform__input:focus {
  border-color: #d0d0d0;
  outline: none;
}

.searchform:hover .searchform__input {
  @media (--below-large) {
    width: 154px;
    color: #ababab;
    transition: width .2s ease, color .2s ease .2s;
    &::placeholder {
      color: #ababab;
      transition: color .2s ease .2s;
    }
  }
}

.searchform__submit {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: #c9c9c9;
  width: 40px;
  height: 40px;
  cursor: pointer;
  @media (--below-large) {
    position: relative;
  }
  @media (--below-small) {
    width: 32px;
    height: 32px;
  }
}

.searchform__submit:hover {
  color: #454545;
}

.searchform__submit svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainmenu {
  background: url("../images/bg-pattern-brown.jpg") repeat 50% 50%;
  box-shadow: inset 0 -1px 0 #b88775;
  z-index: 200;
  position: sticky;
  top: 80px;
  @media (--below-medium) {
    top: 68px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (--below-small) {
    display: none;
  }
}

.mainmenu__container {

}

.mainmenu__list {
  padding: 0;
  margin: 0 -18px;
  list-style: none;
  display: flex;
  @media (--below-medium) {
    margin: 0 -8px;
  }
}

.mainmenu__list > .menu-item {
  margin-right: 3px;
  position: relative;
}

.mainmenu__list > .menu-item:last-child {
  margin-right: 0;
}

.mainmenu__list > .menu-item > a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  line-height: 68px;
  font-weight: bold;
  letter-spacing: 0.005em;
  text-decoration: none;
  text-shadow: 0.5px 0.866px 0px rgba(90, 58, 46, 0.3);
  padding: 0 18px;
  @media (--below-medium) {
    line-height: 48px;
    padding: 0 8px;
  }
}

.mainmenu__list > .menu-item:hover > a,
.mainmenu__list > .menu-item.menu-item-has-children.menu-item-hovered > a,
.mainmenu__list > .menu-item.menu-item-has-children.menu-item-clicked > a {
  background-color: #915d49;
  box-shadow: inset 0 -5px 0 #f49176;
}

.mainmenu__list > .menu-item.menu-item-has-children > a {
  padding-right: 28px;
}

.mainmenu__list > .menu-item.menu-item-has-children > .menu-item-arrow {
  position: absolute;
  right: 0;
  width: 24px;
  top: 0;
  height: 100%;
  background: transparent;
  border: none;
  color: #bc988a;
  border-radius: 0;
  cursor: pointer;
}

.mainmenu__list > .menu-item.menu-item-has-children > .menu-item-arrow::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 8px;
  height: 8px;
  margin-top: -2px;
  border-left: 3px solid currentColor;
  border-bottom: 3px solid currentColor;
}

.mainmenu__list > .menu-item.menu-item-has-children.menu-item-clicked > .menu-item-arrow,
.mainmenu__list > .menu-item.menu-item-has-children > .menu-item-arrow:hover {
  background-color: #7e5140;
  color: #ffffff;
  box-shadow: inset 0 -5px 0 #f49176;
}

.mainmenu__list > .menu-item.menu-item-has-children > .sub-menu {
  position: absolute;
  top: 100%;
  width: 280px;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.902);
  box-shadow: 1.414px 1.414px 3px 0px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transform: scaleY(0.9);
  transform-origin: 0 0;
  transition: .3s ease;
  transition-property: visibility, opacity, transform;
}

.mainmenu__list > .menu-item.menu-item-has-children.menu-item-hovered > .sub-menu,
.mainmenu__list > .menu-item.menu-item-has-children.menu-item-clicked > .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: none;
}

.mainmenu__list > .menu-item.menu-item-has-children > .sub-menu > .menu-item {
  border-bottom: 1px solid #e8e8e8;
}

.mainmenu__list > .menu-item.menu-item-has-children > .sub-menu > .menu-item > a {
  font-size: 12px;
  color: #434343;
  line-height: 1;
  padding: 14px 24px;
  display: block;
  text-decoration: none;
}

.mainmenu__list > .menu-item.menu-item-has-children > .sub-menu > .menu-item:hover > a {
  background-color: rgb(247, 242, 234);
  color: #000000;
  text-decoration: none;
}
