.home-intro {
  padding: 120px 0 140px;
  background: #9fc5e5 url('../images/bg-intro.jpg') no-repeat 100% 100%;
  background-size: auto 100%;
  &::after {
    content: '';
    display: block;
    height: 28px;
  }
  @media (--below-xl) {
    padding-top: adaptive(30px, 120px, 768px, 1280px);
    padding-bottom: adaptive(30px, 140px, 768px, 1280px);
  }
  @media (--below-m) {
    border-bottom: 1px solid #ebebeb;
    padding: 0;
    &::after {
      display: none;
    }
  }
}

.home-intro__body {
  max-width: 655px;
  @media (--below-l) {
    margin: 0 auto;
  }
  @media (--below-m) {
    margin: 0 -8px;
  }
}

.home-page-sheet {
  margin-top: -28px;
  @media (--below-m) {
    margin-top: 0;
  }
}

.home-news {
  margin-top: 53px;
  margin-bottom: 134px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  @media (--below-l) {
    margin-top: 17px;
    margin-bottom: 50px;
  }
  @media (--below-m) {
    margin-top: 26px;
    margin-bottom: 27px;
  }
}

.home-news__relevant-title {
  padding-left: 32px;
  width: 50%;
  margin-left: 50%;
  margin-bottom: 40px;
  order: 1;
  @media (--below-l) {
    margin-bottom: 34px;
  }
  @media (--below-m) {
    margin-left: 0;
    width: 100%;
    margin-bottom: 24px;
  }
}

.home-news__relevant-body {
  margin-bottom: 65px;
  padding-left: 32px;
  width: 100%;
  order: 2;
  @media (--below-l) {
    margin-bottom: 45px;
  }
  @media (--below-m) {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 8px;
    margin-bottom: 26px;
  }
}

.home-news__eparchy-title {
  margin-bottom: 40px;
  padding-left: 32px;
  width: 33.33%;
  order: 3;
  margin-right: 16.66%;
  @media (--below-l) {
    width: 50%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  @media (--below-m) {
    width: 100%;
  }
}

.home-news__eparchy-body {
  padding-left: 32px;
  width: 50%;
  order: 5;
  @media (--below-m) {
    width: 100%;
    order: 4;
    margin-bottom: 30px;
  }
}

.home-news__deans-title {
  margin-bottom: 40px;
  padding-left: 32px;
  width: 50%;
  order: 4;
  @media (--below-l) {
    margin-bottom: 30px;
  }
  @media (--below-m) {
    order: 5;
    width: 100%;
  }
}

.home-news__deans-body {
  padding-left: 32px;
  width: 50%;
  order: 6;
  @media (--below-m) {
    width: 100%;
  }
}

.home-news__deans-hr {
  margin: 40px auto;
  @media (--below-l) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media (--below-m) {
    margin-top: 40px;
  }
}

.home-news__deans-news-and-banners {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  @media (--below-l) {
    margin-left: -15px;
  }
}

.home-news__deans-news {
  padding-left: 32px;
  width: 66.66%;
  @media (--below-l) {
    padding-left: 15px;
  }
  @media (--below-m) {
    width: 100%;
    margin-bottom: 46px;
  }
}

.home-news__deans-banners {
  padding-left: 32px;
  width: 33.33%;
  @media (--below-l) {
    padding-left: 15px;
  }
  @media (--below-m) {
    width: 100%;
  }
}

.home-publications {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  @media (--below-l) {
    margin-left: -15px;
  }
  @media (--below-m) {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
  }
}

.home-publications__articles-title {
  width: 33.33%;
  padding-left: 32px;
  order: 1;
  margin-right: 50%;
  margin-bottom: 40px;
  @media (--below-l) {
    padding-left: 15px;
    width: 50%;
    margin-right: 33.33%;
  }
  @media (--below-m) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.home-publications__articles-latest {
  padding-left: 32px;
  width: 33.33%;
  order: 3;
  @media (--below-l) {
    padding-left: 15px;
  }
  @media (--below-m) {
    width: 100%;
    order: 2;
    margin-bottom: 30px;
  }
}

.home-publications__articles-more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
  @media (--below-m) {
    margin-top: 15px;
    justify-content: flex-end;
  }
}

.home-publications__sliders {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  width: 50%;
  order: 4;
  @media (--below-l) {
    padding-left: 15px;
  }
  @media (--below-m) {
    width: 100%;
    order: 3;
    margin-bottom: 26px;
  }
}

.home-publications__talks {
  @media (--below-m) {
    margin-left: -8px;
    margin-right: -8px;
  }
}

.home-publications__articles {
  margin-top: 25px;
  @media (--below-m) {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 0;
  }
}

.home-publications__interviews {
  margin-top: 25px;
  @media (--below-m) {
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 0;
  }
}

.home-publications__calendar-title {
  width: 16.66%;
  padding-left: 32px;
  order: 2;
  margin-bottom: 40px;
  @media (--below-l) {
    padding-left: 15px;
  }
  @media (--below-m) {
    width: 100%;
    order: 4;
    margin-bottom: 8px;
  }
}

.home-publications__calendar-body {
  order: 5;
  width: 16.66%;
  padding-left: 32px;
  @media (--below-l) {
    padding-left: 15px;
  }
  @media (--below-m) {
    width: 100%;
  }
}

.home-publications__calendar-desc {
  margin-top: 48px;
  @media (--below-m) {
    margin-top: 12px;
  }
}

.home-ecalendar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 110px;
  @media (--below-l) {
    margin-top: 65px;
    margin-bottom: 62px;
  }
  @media (--below-m) {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}

.home-ecalendar__title {
  margin-bottom: 40px;
  width: 100%;
  @media (--below-l) {
    margin-bottom: 10px;
  }
}

.home-ecalendar__body {
  width: 75%;
  @media (--below-l) {
    width: 90%;
  }
  @media (--below-m) {
    width: auto;
    flex-grow: 1;
    margin-left: -8px;
    margin-right: -8px;
  }
}

.home-analytics {
  display: flex;
  flex-wrap: wrap;
  margin-top: 110px;
  margin-bottom: 95px;
  margin-left: -32px;
  @media (--below-l) {
    margin-left: -15px;
    margin-top: 62px;
    margin-bottom: 60px;
  }
  @media (--below-m) {
    margin-top: 26px;
    margin-bottom: 35px;
  }
}

.home-analytics__title {
  margin-bottom: 40px;
  width: 50%;
  padding-left: 32px;
  @media (--below-l) {
    padding-left: 15px;
    margin-bottom: 26px;
  }
  @media (--below-m) {
    margin-bottom: 10px;
    width: 100%;
  }
}

.home-analytics__body {
  padding-left: 32px;
  width: 100%;
  @media (--below-l) {
    padding-left: 15px;
  }
}
