@custom-media --below-xs (max-width: 319px);
@custom-media --below-s (max-width: 479px);
@custom-media --below-m (max-width: 767px);
@custom-media --below-l (max-width: 1023px);
@custom-media --below-xl (max-width: 1279px);
@custom-media --below-xxl (max-width: 1599px);

@custom-media --below-container (max-width: 1168px);

@custom-media --above-xs (min-width: 320px);
@custom-media --above-s (min-width: 480px);
@custom-media --above-m (min-width: 768px);
@custom-media --above-l (min-width: 1024px);
@custom-media --above-xl (min-width: 1280px);
@custom-media --above-xxl (min-width: 1600px);

@custom-media --above-container (min-width: 1169px);

:root {
  --breakpoint-xsmall: 320px;
  --breakpoint-small: 768px;
  --breakpoint-medium: 1024px;
  --breakpoint-large: 1280px;
  --breakpoint-xlarge: 1600px;
  --breakpoint-xsmall-max: 767px;
  --breakpoint-small-max: 1023px;
  --breakpoint-medium-max: 1279px;
  --breakpoint-large-max: 1599px;
  --font-size: 16px;
  --font-family: 'Open Sans', sans-serif;
  --font-family-alt: 'Georgia', cursive;
}

/* Global */

@import 'fonts.css';

/* Vendor */

@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/swiper/swiper-bundle.css';

/* Blocks */

@import 'grid.css';
@import 'visibility.css';
@import 'common.css';
@import 'header.css';
@import 'footer.css';
@import 'breadcrumbs.css';
@import 'home.css';
@import 'intro-news.css';
@import 'latest-news.css';
@import 'eparchy-news.css';
@import 'deans-news.css';
@import 'deans-banners.css';
@import 'tiled-slider.css';
@import 'archive-calendar.css';
@import 'latest-publication.css';
@import 'ecalendar.css';
@import 'tabs.css';
@import 'analytics-grid.css';
@import 'drawer.css';
@import 'document-sections.css';
@import 'modal.css';
@import 'articles.css';
@import 'video.css';
@import 'grids.css';
@import 'dialog.css';
@import 'card.css';
@import 'list.css';
