.page-pontiff {
  margin-top: 40px;
  margin-bottom: 160px;
  @media (--below-small) {
    margin-bottom: 80px;
    margin-top: 20px;
  }
}

.page-pontiff__desc {
  margin-left: 16.66%;
  margin-right: 16.66%;
  width: 66.66%;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  color: #373737;
  @media (--below-medium) {
    font-size: 18px;
  }
  @media (--below-small) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    line-height: 1.375;
  }
}

.page-pontiff__content {
  margin-top: 100px;
  margin-left: 16.66%;
  margin-right: 16.66%;
  width: 66.66%;
  @media (--below-small) {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 60px;
  }
}

.page-pontiff__grid {
  margin-top: 50px;
  @media (--below-small) {
    margin-top: 40px;
  }
}

.page-pontiff-grid {
  display: flex;
  flex-wrap: wrap;
}

.page-pontiff-grid__biography {
  width: calc(50% - 15px);
  margin-right: 15px;
  margin-bottom: 15px;
  @media (--below-medium) {
    order: 1;
    width: calc(50% - 7.5px);
    margin: 0 7.5px 7.5px 0;
  }
  @media (--below-small) {
    width: 100%;
    margin: 0 0 5px;
  }
}

.page-pontiff-grid__ministration-and-preaching {
  width: calc(50% - 15px);
  margin-left: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  @media (--below-medium) {
    width: 100%;
    margin: 7.5px 0 7.5px;
    flex-direction: row;
    order: 3;
  }
  @media (--below-small) {
    width: calc(100% + 16px);
    flex-direction: column;
    order: 2;
    margin: 5px -8px 5px;
  }
}

.page-pontiff-grid__ministration {
  display: flex;
  height: calc(50% - 15px);
  margin-bottom: 15px;
  @media (--below-medium) {
    width: calc(50% - 7.5px);
    height: auto;
    margin-bottom: 0;
    margin-right: 7.5px;
  }
  @media (--below-small) {
    width: 100%;
    margin: 0;
  }
}

.page-pontiff-grid__preaching {
  display: flex;
  height: calc(50% - 15px);
  margin-top: 15px;
  @media (--below-medium) {
    width: calc(50% - 7.5px);
    height: auto;
    margin-top: 0;
    margin-left: 7.5px;
  }
  @media (--below-small) {
    width: 100%;
    margin: 0;
  }
}

.page-pontiff-grid__photo {
  margin-top: 15px;
  margin-right: 15px;
  width: calc(50% - 15px);
  @media (--below-medium) {
    order: 2;
    width: calc(50% - 7.5px);
    margin: 0 0 0 7.5px;
  }
  @media (--below-small) {
    width: 100%;
    order: 3;
    margin: 5px 0;
  }
}

.page-pontiff-grid__news-and-video {
  width: calc(50% - 15px);
  margin-left: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  @media (--below-medium) {
    width: 100%;
    margin: 7.5px 0 0;
    flex-direction: row;
    order: 4;
  }
  @media (--below-small) {
    flex-direction: column;
    width: calc(100% + 16px);
    margin: 5px -8px 0;
  }
}

.page-pontiff-grid__news {
  display: flex;
  height: calc(50% - 15px);
  margin-bottom: 15px;
  @media (--below-medium) {
    width: calc(50% - 7.5px);
    height: auto;
    margin-bottom: 0;
    margin-right: 7.5px;
  }
  @media (--below-small) {
    width: 100%;
    margin: 0;
  }
}

.page-pontiff-grid__video {
  display: flex;
  height: calc(50% - 15px);
  margin-top: 15px;
  @media (--below-medium) {
    width: calc(50% - 7.5px);
    height: auto;
    margin-top: 0;
    margin-left: 7.5px;
  }
  @media (--below-small) {
    width: 100%;
    margin: 0;
  }
}

.pontiff-card {
  position: relative;
  padding-bottom: 100%;
  transition: box-shadow .3s ease;
}

.pontiff-card:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.pontiff-card:hover .pontiff-card__image img {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0.8;
}

.pontiff-card__image {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #000000;
}

.pontiff-card__image img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s ease-out;
  transition-property: transform, opacity;
}

.pontiff-card__title {
  font-weight: bold;
  font-size: 48px;
  font-family: var(--font-family-alt);
  letter-spacing: 0.025em;
  line-height: 1;
  text-decoration: none;
  display: block;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  @media (--below-medium) {
    font-size: 25px;
  }
  @media (--below-small) {
    font-size: 21px;
    padding: 14px 20px;
  }
}
